<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

    <group if="$(eval mode == 'deployment')">
        <node pkg="pointcloud_mux" type="pointcloud_mux" name="movel_pointcloud_mux">
            <rosparam file="$(find pointcloud_mux)/config/pointcloud_mux.yaml" command="load" />
            <rosparam file="$(env HOME)/.config/movel/config/pointcloud_mux/config/pointcloud_mux.yaml" command="load" />
        </node>
    </group>

    <group unless="$(eval mode == 'deployment')">
        <node pkg="pointcloud_mux" type="pointcloud_mux" name="movel_pointcloud_mux">
            <rosparam file="$(find pointcloud_mux)/config/pointcloud_mux.yaml" command="load" />
        </node>
    </group>

</launch>
