<launch>
    <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
    <arg name="rtabmap_mode" default="mapping"  doc="mode: [mapping, localization]"/>


    <group if="$(eval mode == 'deployment')">
        <group if="$(eval rtabmap_mode) == 'mapping'"/>
            <group ns="/rtabmap/rtabmap/">
                <rosparam file="$(find pcl_slam_handler)/config/flat/odom_lpm.yaml"/>
                <rosparam file="$(env HOME)/.config/movel/config/3dpipeline/pcl_slam_handler/config/flat/odom_lpm.yaml"/>

                <rosparam file="$(find pcl_slam_handler)/config/flat/slam_rtabmap_curb.yaml"/>
                <rosparam file="$(env HOME)/.config/movel/config/3dpipeline/pcl_slam_handler/config/flat/slam_rtabmap_curb.yaml"/>
            </group>
        </group>
        <group unless="$(eval rtabmap_mode) == 'mapping'"/>
            <group ns="/rtabmap/rtabmap/">
                <rosparam file="$(find pcl_localization_handler)/config/flat/odom_lpm.yaml"/>
                <rosparam file="$(env HOME)/.config/movel/config/3dpipeline/pcl_localization_handler/config/flat/odom_lpm.yaml"/>

                <rosparam file="$(find pcl_localization_handler)/config/flat/localization.yaml"/>
                <rosparam file="$(env HOME)/.config/movel/config/3dpipeline/pcl_localization_handler/config/flat/localization.yaml"/>
            </group>
        </group>
    </group>
    <group unless="$(eval mode == 'deployment')">
        <group if="$(eval rtabmap_mode) == 'mapping'"/>
            <group ns="/rtabmap/rtabmap/">
                <rosparam file="$(find pcl_slam_handler)/config/flat/odom_lpm.yaml"/>
                <rosparam file="$(find pcl_slam_handler)/config/flat/slam_rtabmap_curb.yaml"/>
            </group>
        </group>
        <group unless="$(eval rtabmap_mode) == 'mapping'"/>
            <group ns="/rtabmap/rtabmap/">
                <rosparam file="$(find pcl_localization_handler)/config/flat/odom_lpm.yaml"/>
                <rosparam file="$(find pcl_localization_handler)/config/flat/localization.yaml"/>
            </group>
        </group>
    </group>

</launch>