<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
  <arg name="database_path" default="~/.config/movel/maps/rtabmap.db"/>
  <arg name="mapping_launch_file" default="hdl_graph_slam.launch"/>

  <include file="$(find movel)/launch/navigation_common.launch">
    <arg name="REMAP_MAP" value="map"/>
  </include>
  
  <!-- <include file="$(find pcl_slam_handler)/launch/$(arg mapping_launch_file)">
    <arg name="localization" value="true"/>
    <arg name="database_path" value="$(arg database_path)"/>
  </include> -->
  
</launch>
