<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
  <arg name="pcd" default="None"/>

  <include file="$(find movel)/launch/navigation_common.launch" />
  <include file="$(find hdl_localization)/launch/hdl_localization_nodom.launch">
	  <arg name="pcd_file" value="$(arg pcd)"/>
  </include>

</launch>
