<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
  <arg name="pcd" default="None"/>

  <group if="$(eval mode == 'deployment')">
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
      <remap from="cmd_vel" to="cmd_vel_mux/autonomous"/>

      <rosparam file="$(find movel)/config/costmap_common_params.yaml" ns="global_costmap"/>
      <rosparam file="$(find movel)/config/costmap_common_params.yaml" ns="local_costmap"/>
      <rosparam file="$(find movel)/config/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find movel)/config/global_costmap_params.yaml" command="load"/>
      <rosparam file="$(find movel)/config/base_local_planner_params.yaml" command="load"/>
      <rosparam file="$(find movel)/config/move_base_params.yaml" command="load"/>

      <rosparam file="$(env HOME)/.config/movel/config/movel/config/base_local_planner_params.yaml" command="load"/>
      <rosparam file="$(env HOME)/.config/movel/config/movel/config/global_costmap_params.yaml" command="load"/>
      <rosparam file="$(env HOME)/.config/movel/config/movel/config/costmap_common_params.yaml" ns="local_costmap"/>
      <rosparam file="$(env HOME)/.config/movel/config/movel/config/costmap_common_params.yaml" ns="global_costmap"/>
      <rosparam file="$(env HOME)/.config/movel/config/movel/config/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(env HOME)/.config/movel/config/movel/config/move_base_params.yaml" command="load"/>
    </node>
  </group>

  <group unless="$(eval mode == 'deployment')">
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
      <remap from="cmd_vel" to="cmd_vel_mux/autonomous"/>

      <rosparam file="$(find movel)/config/costmap_common_params.yaml" ns="global_costmap"/>
      <rosparam file="$(find movel)/config/costmap_common_params.yaml" ns="local_costmap"/>
      <rosparam file="$(find movel)/config/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find movel)/config/global_costmap_params.yaml" command="load"/>
      <rosparam file="$(find movel)/config/base_local_planner_params.yaml" command="load"/>
      <rosparam file="$(find movel)/config/move_base_params.yaml" command="load"/>
    </node>
  </group>

  <include file="$(find velocity_setter)/launch/velocity_setter.launch" />
  <include file="$(find plan_inspector)/launch/plan_inspector.launch" />
  <include file="$(find movel_fms_utils)/launch/plan_decimator.launch" />
  <include file="$(find movel_fms_utils)/launch/plan_measurer.launch" />
  <include file="$(find planner_utils)/launch/planner_utils.launch" />

  <include file="$(find hdl_localization)/launch/hdl_localization.launch">
	  <arg name="pcd_file" value="$(arg pcd)"/>
  </include>

</launch>
