<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="aux_task" default="$(optenv AUX_MODE old)" doc="aux_task: [new, old]"/>
  
  <include file="$(find cmd_vel_mux)/launch/cmd_vel_mux.launch"/>
  <include file="$(find anti_shin_buster)/launch/anti_shin_buster.launch" />
  <include file="$(find velocity_limiter)/launch/velocity_limiter.launch"/>
  <include file="$(find hardware_status)/launch/hardware_status.launch"/>
  <group if="$(eval aux_task == 'new')">
    <include file="$(find aux_task_manager)/launch/aux_task_manager.launch"/>
  </group>
  <group unless="$(eval aux_task == 'new')">
    <include file="$(find task_master)/launch/task_master.launch"/>
  </group>
  <include file="$(find universal_handler)/launch/universal_handler.launch"/>

  <!--Redis Init-->
  <include file="$(find movel_redis)/launch/movel_redis_init.launch"/>

  <include file="$(find yocs_velocity_smoother)/launch/standalone.launch"/>
  <include file="$(find movel_fms_utils)/launch/occ_grid_to_json_png_base64.launch" />
  <include file="$(find movel_fms_utils)/launch/scan_with_tf_node.launch" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <node pkg="broadcast_pose" type="broadcast_pose" name="broadcast_pose"/>
  <include file="$(find speed_limit_zone)/launch/speed_limit_zone.launch"/>
  <include file="$(find movel_costmaps)/launch/costmap_prohibition.launch"/>

  <!-- filters -->
  <include file="$(find sensor_filters)/launch/3d_lidar_filter.launch"/>
  <include file="$(find sensor_filters)/launch/depth_camera_filter.launch"/>
  <include file="$(find sensor_filters)/launch/laser_scan_filter.launch"/>
  <!-- <include file="$(find sensor_filters)/launch/laser_scan_filter_dummy.launch"/> -->

  <!-- Task duration Estimator -->
  <include file="$(find movel_task_duration_estimator)/launch/task_duration_estimator.launch"/>

  <!-- Travel distance tracker-->
  <include file="$(find movel_analytics_utils)/launch/distance_tracker.launch"/>
</launch>
