<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <group if="$(eval mode == 'deployment')">
    <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
      <rosparam command="load" file="$(find movel)/config/karto.yaml" />
      <rosparam file="$(env HOME)/.config/movel/config/movel/config/karto.yaml"/>
    </node>
  </group>
  <group unless="$(eval mode == 'deployment')">
    <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
      <rosparam command="load" file="$(find movel)/config/karto.yaml" />
    </node>
  </group>
  
</launch>