<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
  
  <!-- For rtabmap -->
  <arg name="localization" default="true"/>
  <arg name="database_path" default="~/.config/movel/maps/rtabmap.db"/>

  <arg name="camera" default=""/>
  <arg name="camera1" default=""/>
  <arg name="camera2" default=""/>
  <arg name="camera3" default=""/>
  <arg name="camera4" default=""/>
  <arg name="rgbd_cameras" default="2"/>

  <group if="$(eval mode == 'deployment')">
    <remap from="/rtabmap/initialpose" to="/initialpose"/>
    <include file="$(find movel)/launch/rtabmap_multi_nav.launch">
        <arg unless="$(arg localization)" name="args" value="--delete_db_on_start"/>
        <arg name="localization" value="$(arg localization)"/>

        <arg name="camera" value="$(arg camera)"/>
        <arg name="camera1" value="$(arg camera1)"/>
        <arg name="camera2" value="$(arg camera2)"/>
        <arg name="camera3" value="$(arg camera3)"/>
        <arg name="camera4" value="$(arg camera4)"/>
        <arg name="rgbd_cameras" value="$(arg rgbd_cameras)"/>

        <arg name="database_path" value="$(arg database_path)"/>
        <arg name="output" value="log"/>
        <!--arg name="frame_id" value="base_link"/-->
        <arg name="publish_tf_odom" value="false"/>
    </include>
  </group>

  <group unless="$(eval mode == 'deployment')">
    <remap from="/rtabmap/initialpose" to="/initialpose"/>
    <include file="$(find movel)/launch/rtabmap_multi_nav.launch">
        <arg unless="$(arg localization)" name="args" value="--delete_db_on_start"/>
        <arg name="localization" value="$(arg localization)"/>
        
        <arg name="camera" value="$(arg camera)"/>
        <arg name="camera1" value="$(arg camera1)"/>
        <arg name="camera2" value="$(arg camera2)"/>
        <arg name="camera3" value="$(arg camera3)"/>
        <arg name="camera4" value="$(arg camera4)"/>
        <arg name="rgbd_cameras" value="$(arg rgbd_cameras)"/>

        <arg name="database_path" value="$(arg database_path)"/>
        <arg name="output" value="log"/>
        <!--arg name="frame_id" value="base_link"/-->
        <arg name="publish_tf_odom" value="false"/>
    </include>
  </group>

  <include file="$(find movel)/launch/navigation_common.launch" />
  <include file="$(find movel)/launch/robot_localization.launch" />

</launch>
