<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <group if="$(eval mode == 'deployment')">
    <node pkg="gmcl" type="gmcl" name="gmcl" output="screen">
      <rosparam file="$(find movel)/config/gmcl.yaml" command="load"/>
      <rosparam file="$(env HOME)/.config/movel/config/movel/config/gmcl.yaml"/>
    </node>
  </group>

  <group unless="$(eval mode == 'deployment')">
    <node pkg="gmcl" type="gmcl" name="gmcl" output="screen">
      <rosparam file="$(find movel)/config/gmcl.yaml" command="load"/>
    </node>
  </group>

  <include file="$(find movel)/launch/navigation_common.launch" />

</launch>
