<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="localization" default="false"/>
    <arg name="database_path" default="~/.config/movel/maps/rtabmap.db"/>

    <arg name="camera" default=""/>
    <arg name="camera1" default=""/>
    <arg name="camera2" default=""/>
    <arg name="camera3" default=""/>
    <arg name="camera4" default=""/>
    <arg name="rgbd_cameras" default="2"/>

    <arg name="auto" default="false"/>
    
    <remap from="/rtabmap/grid_map" to="/map"/>
    <include file="$(find movel)/launch/rtabmap_multi.launch">
        <arg unless="$(arg localization)" name="args" value="--delete_db_on_start"/>
        <arg name="localization" value="$(arg localization)"/>

        <arg name="camera" value="$(arg camera)"/>
        <arg name="camera1" value="$(arg camera1)"/>
        <arg name="camera2" value="$(arg camera2)"/>
        <arg name="camera3" value="$(arg camera3)"/>
        <arg name="camera4" value="$(arg camera4)"/>
        <arg name="rgbd_cameras" value="$(arg rgbd_cameras)"/>

        <arg name="database_path" value="$(arg database_path)"/>
        <arg name="output" value="log"/>
        <!--arg name="frame_id" value="base_link"/-->
        <arg name="publish_tf_odom" value="false"/>
    </include>
    
    <include file="$(find movel)/launch/robot_localization.launch" />
    <include if="$(arg auto)" file="$(find automapping_handler)/launch/move_base_automap.launch"/>
</launch>
