<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find movel)/launch/common_start.launch"/>
  <!--include file="$(find task_supervisor)/launch/task_supervisor.launch" /-->
  <include file="$(find pointcloud_points)/launch/pointcloud_points.launch" />
  <include file="$(find map_editor)/launch/map_editor.launch">
    <arg name="is_3d" value="true"/>
  </include>

</launch>
