<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find cmd_vel_mux)/launch/cmd_vel_mux.launch"/>
  <include file="$(find anti_shin_buster)/launch/anti_shin_buster.launch" />
  <include file="$(find velocity_limiter)/launch/scan_cloud_merger.launch"/>
  <include file="$(find velocity_limiter)/launch/velocity_limiter.launch"/> 
  <include file="$(find hardware_status)/launch/hardware_status.launch"/>
  <include file="$(find yocs_velocity_smoother)/launch/standalone.launch"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/> 
  <node pkg="broadcast_pose" type="broadcast_pose" name="broadcast_pose"/>
</launch>
