<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find movel)/launch/common_start.launch"/>
  <include file="$(find map_editor)/launch/map_editor.launch">
    <arg name="is_3d" value="false"/>
  </include>
  <!--Multi Floor-->
  <include file="$(find multi_floor_nav_utils)/launch/multi_floor_nav_utils.launch"/>
</launch>
