Source: ros-kinetic-autopnp
Section: misc
Priority: optional
Maintainer: Richard Bormann <richard.bormann@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/autopnp
Standards-Version: 3.9.2

Package: ros-kinetic-autopnp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-ipa-building-msgs, ros-kinetic-ipa-building-navigation, ros-kinetic-ipa-room-exploration, ros-kinetic-ipa-room-segmentation
Description: This meta-package includes open source software for the autopnp project.
