<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <node pkg="tf" type="static_transform_publisher" 
          name="mock_base_link_to_map"
          args="0 0 0 0 0 0 1 map base_link 100" />
    <node pkg="graphmap" type="graphmap_test_node" name="graphmap_test_node" output="screen">
        <rosparam file="$(find movel_license)/local.yaml" command="load" />
        <!-- <rosparam file="$(find movel_license)/example/license_sample.yaml" command="load" /> -->
        <param name="GraphPlanner/graph_def" value="$(find graphmap)/graphs/graphmap_detail.csv" />
    </node>
</launch>
