<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

    <group if="$(eval mode == 'deployment')">
        <node pkg="planner_adjuster" type="planner_adjuster" name="planner_adjuster" output="screen">
            <rosparam file="$(find planner_adjuster)/config/planner_adjuster.yaml" command="load" />
            <rosparam file="$(env HOME)/.config/movel/config/planner_adjuster/config/planner_adjuster.yaml" command="load" />
            <remap from="/cmd_vel" to="/cmd_vel_mux/autonomous"/>
        </node>
    </group>

    <group unless="$(eval mode == 'deployment')">
        <node pkg="planner_adjuster" type="planner_adjuster" name="planner_adjuster" output="screen">
            <rosparam file="$(find planner_adjuster)/config/planner_adjuster.yaml" command="load" />
            <remap from="/cmd_vel" to="/cmd_vel_mux/autonomous"/>
        </node>
    </group>
</launch>
