Source: ros-noetic-cmd-vel-mux
Section: misc
Priority: optional
Maintainer: Movel AI <contact@movel.ai>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-ros-utils, ros-noetic-roscpp, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-cmd-vel-mux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-geometry-msgs, ros-noetic-ros-utils, ros-noetic-roscpp, ros-noetic-std-msgs
Description: The guidance package
