<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <group if="$(eval mode == 'deployment')">
    <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node">
      <rosparam file="$(find obstacle_detector)/config/obstacle_detector.yaml" command="load" />
      <rosparam file="$(env HOME)/.config/movel/config/obstacle_detector/config/obstacle_detector.yaml"/>
      <remap from="scan" to="cloud/merged/scan" />
    </node>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="obs_merged">
      <rosparam file="$(find anti_shin_buster)/config/pointcloud_to_laserscan.yaml"/>
      <remap from="cloud_in" to="cloud/merged" />
      <remap from="scan" to="cloud/merged/scan" />
    </node>
  </group>
  
  <group unless="$(eval mode == 'deployment')">
    <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node">
      <rosparam file="$(find obstacle_detector)/config/obstacle_detector.yaml" command="load" />
      <remap from="scan" to="cloud/merged/scan" />
    </node>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="obs_merged">
      <rosparam file="$(find anti_shin_buster)/config/pointcloud_to_laserscan.yaml"/>
      <remap from="cloud_in" to="cloud/merged" />
      <remap from="scan" to="cloud/merged/scan" />
    </node>
  </group>

</launch>