Source: ros-noetic-liof
Section: misc
Priority: optional
Maintainer: movelai <movelai@todo.todo>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-roscpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-liof
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-roscpp
Description: The liof package
