Source: ros-noetic-map-updater
Section: misc
Priority: optional
Maintainer: robert <robertsen@movel.ai>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-map-msgs, ros-noetic-nav-msgs, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-std-srvs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-map-updater
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-map-msgs, ros-noetic-nav-msgs, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-std-srvs
Description: The map_updater package
