<launch>

  <arg name="use_imu"       default="false"/>
  <arg name="raw_imu_topic" default="/camera/imu"/>
  <arg name="imu_topic"     default="/rtabmap/imu"/>

  <arg name="localization"  default="false"/>
  <arg     if="$(arg localization)" name="args" default=""/>
  <arg unless="$(arg localization)" name="args" default="--delete_db_on_start"/>

  <arg name="frame_id" default="base_link"/>
  
  <!-- PLEASE CHANGE THIS BLOCK OF CODE ACCORDING TO YOUR CONFIGURATIONS -->
  <arg name="lidar_cloud" default="/lidar_point_cloud/filtered"/>
  <arg name="database_path" default="~/finale/rtabmap.db"/>

  <!-- Imu Filter -->
  <node if="$(arg use_imu)" pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
    <remap from ="/imu/data_raw" to="$(arg raw_imu_topic)"/>
    <remap from ="/imu/data" to="$(arg imu_topic)"/>
    <param name="use_mag" value="false"/>
    <param name="publish_tf" value="false"/>
    <param name="world_frame" value="enu"/>
  </node>

  <!-- IMU orientation estimation and publish tf accordingly to os1_sensor frame -->
  <node if="$(arg use_imu)" pkg="rtabmap_ros_multi" type="imu_to_tf" name="imu_to_tf" >
    <remap from="imu/data" to="$(arg imu_topic)"/>
    <param name="fixed_frame_id" value="$(arg frame_id)_stabilized"/>
    <param name="base_frame_id" value="$(arg frame_id)"/>
  </node> 

  <group ns="rtabmap">
    <!-- SLAM -->
    <node pkg="rtabmap_ros_multi" type="rtabmap" name="rtabmap" output="screen" args="$(arg args)">	  
    
      <rosparam file="$(find rtabmap_pcl_slam_handler)/config/rtabmap_slam.yaml"/>

      <param name="database_path"       type="string" value="$(arg database_path)"/>
      <remap from="scan_cloud" to="assembled_cloud"/>
      <remap from="imu" to="$(arg imu_topic)"/>
      
      <!-- localization mode -->
      <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
      <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
      <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/> 

      <remap from="/rtabmap/grid_map" to="/map"/>
      <remap from="/rtabmap/cloud_map" to="/map_3d"/>
    </node>

    <!-- Point Cloud Assembler -->
    <node pkg="nodelet" type="nodelet" name="point_cloud_assembler" args="standalone rtabmap_ros_multi/point_cloud_assembler" output="screen">
      <remap from="cloud"           to="$(arg lidar_cloud)"/>
      <remap from="odom"            to="odom"/>
      <param name="max_clouds"      type="int"    value="20" />
      <param name="fixed_frame_id"  type="string" value="" />
    </node>
</group>

   <!-- Prefiltering Nodelet -->
   <node pkg="nodelet" type="nodelet" name="prefiltering_nodelet" args="standalone hdl_graph_slam/PrefilteringNodelet">
    <rosparam file="$(find rtabmap_pcl_slam_handler)/config/fgicp_prefiltering.yaml"/>
  </node>

  <!-- FAST GICP -->
  <node pkg="nodelet" type="nodelet" name="scan_matching_odometry_nodelet" args="standalone hdl_graph_slam/ScanMatchingOdometryNodelet">
    <rosparam file="$(find rtabmap_pcl_slam_handler)/config/fgicp.yaml"/>
    <remap from="/odom" to="/rtabmap/odom"/>
  </node>

  <node pkg="rtabmap_pcl_slam_handler" type="pointcloud_saver" name="pointcloud_saver">
    <rosparam file="$(find rtabmap_pcl_slam_handler)/config/pointcloud_saver.yaml"/>
  </node>
</launch>