<?xml version="1.0" encoding="utf-8" ?>

<launch>
    <arg name="init_map" default="" />
    <group if="$(eval init_map=='')" >
        <node pkg="map_server_extra" type="map_server_extra" name="map_server" output="screen" args="/home/movel/.config/movel/maps/example.yaml">
            <remap from="change_map" to="change_nav_map" />
        </node>
        <node pkg="map_swapper" type="map_swapper_node" name="map_swapper" output="screen">
            <rosparam command="load" file="$(find map_swapper)/config/map_swapper.yaml" />
            <remap from="change_map" to="change_nav_map" />
        </node>
    </group>
    <group unless="$(eval init_map=='')" >
        <node pkg="map_server_extra" type="map_server_extra" name="map_server" output="screen" args="$(arg init_map)/0_0.yaml">
            <remap from="change_map" to="change_nav_map" />
        </node>
        <node pkg="map_swapper" type="map_swapper_node" name="map_swapper" output="screen">
            <rosparam command="load" file="$(find map_swapper)/config/map_swapper.yaml" />
            <remap from="change_map" to="change_nav_map" />
            <param name="init_map" value="$(arg init_map)" />
        </node>
    </group>
</launch>