<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="scan_topic_in" default="/scan" />
  <arg name="cloud_topic_in" default="/obstacles_cloud" />
  <arg name="cloud_merged_topic" default="/cloud/merged" />
  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <group if="$(eval mode == 'deployment')">
    <node pkg="velocity_limiter" type="point_cloud_merger_node" name="point_cloud_merger" output="screen">
      <rosparam file="$(find velocity_limiter)/config/point_cloud_merger.yaml"/>
      <rosparam file="$(env HOME)/.config/movel/config/velocity_limiter/config/point_cloud_merger.yaml"/>
      <remap from="/scan" to="$(arg scan_topic_in)" />
      <remap from="/cloud" to="$(arg cloud_topic_in)" />
      <remap from="/cloud/merged" to="$(arg cloud_merged_topic)" />
    </node>
  </group>

  <group unless="$(eval mode == 'deployment')">    
    <node pkg="velocity_limiter" type="point_cloud_merger_node" name="point_cloud_merger" output="screen">
      <rosparam file="$(find velocity_limiter)/config/point_cloud_merger.yaml"/>
      <remap from="/scan" to="$(arg scan_topic_in)" />
      <remap from="/cloud" to="$(arg cloud_topic_in)" />
      <remap from="/cloud/merged" to="$(arg cloud_merged_topic)" />
    </node>
  </group>

</launch>
