<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="cloud_topic" default="/obstacles_cloud" />
  <arg name="autonomous_velocity_topic" default="/cmd_vel_mux/autonomous" />
  <arg name="teleop_velocity_topic" default="/cmd_vel_mux/teleop" />
  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <group if="$(eval mode == 'deployment')">    
    <node pkg="velocity_limiter" type="velocity_limiter_node" name="velocity_limiter" output="screen">
      <rosparam file="$(find velocity_limiter)/config/velocity_limiter.yaml"/>
      <rosparam file="$(env HOME)/.config/movel/config/velocity_limiter/config/velocity_limiter.yaml"/>
      <remap from="/cloud" to="$(arg cloud_topic)" />
      <remap from="/cmd_vel/autonomous" to="$(arg autonomous_velocity_topic)" />
      <remap from="/cmd_vel/teleop" to="$(arg teleop_velocity_topic)" />
    </node>
  </group>

  <group unless="$(eval mode == 'deployment')">    
    <node pkg="velocity_limiter" type="velocity_limiter_node" name="velocity_limiter" output="screen">
      <rosparam file="$(find velocity_limiter)/config/velocity_limiter.yaml"/>
      <remap from="/cloud" to="$(arg cloud_topic)" />
      <remap from="/cmd_vel/autonomous" to="$(arg autonomous_velocity_topic)" />
      <remap from="/cmd_vel/teleop" to="$(arg teleop_velocity_topic)" />
    </node>
  </group>

</launch>
