<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="cloud_topic" default="/cloud/merged" />
  <arg name="autonomous_velocity_topic" default="/cmd_vel_mux/autonomous" />
  <arg name="teleop_velocity_topic" default="/cmd_vel_mux/teleop/keyboard" />
  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <group if="$(eval mode == 'deployment')">    
    <node pkg="velocity_limiter" type="velocity_limiter_node" name="velocity_limiter" output="screen">
      <rosparam file="$(find velocity_limiter)/config/velocity_limiter.yaml"/>
      <rosparam file="$(env HOME)/.config/movel/config/velocity_limiter/config/velocity_limiter.yaml"/>

      <rosparam file="$(find movel_redis)/config/redis_conn.yaml"/>
      <rosparam file="$(env HOME)/.config/movel/config/movel_redis/config/redis_conn.yaml"/>

      <remap from="/cloud" to="$(arg cloud_topic)" />
      <remap from="/cmd_vel/autonomous" to="$(arg autonomous_velocity_topic)" />
      <remap from="/cmd_vel/teleop" to="$(arg teleop_velocity_topic)" />
    </node>
  </group>

  <group unless="$(eval mode == 'deployment')">    
    <node pkg="velocity_limiter" type="velocity_limiter_node" name="velocity_limiter" output="screen">
      <rosparam file="$(find velocity_limiter)/config/velocity_limiter.yaml"/>
      <rosparam file="$(find movel_redis)/config/redis_conn.yaml"/>

      <remap from="/cloud" to="$(arg cloud_topic)" />
      <remap from="/cmd_vel/autonomous" to="$(arg autonomous_velocity_topic)" />
      <remap from="/cmd_vel/teleop" to="$(arg teleop_velocity_topic)" />
    </node>
  </group>

  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find movel)/config/costmap_common_params.yaml" ns="costmap"/>
    <rosparam file="$(find velocity_limiter)/config/costmap_params.yaml" command="load"/>

    <rosparam if="$(eval mode == 'deployment')" file="$(env HOME)/.config/movel/config/movel/config/costmap_common_params.yaml" ns="costmap"/>
    <rosparam if="$(eval mode == 'deployment')" file="$(env HOME)/.config/movel/config/velocity_limiter/config/costmap_params.yaml" command="load"/>
  </node>

  <node name="velocity_limiter_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" >
    <remap from="/cloud_in" to="/cloud/persisted"/>
    <remap from="/scan" to="/velocity_limiter/scan"/>
    <rosparam file="$(find velocity_limiter)/config/laserscan.yaml" command="load"/>
    <rosparam if="$(eval mode == 'deployment')" file="$(env HOME)/.config/movel/config/velocity_limiter/config/laserscan.yaml"/>
  </node>
</launch>
