<!--
showcases map_merge with static maps served by map_server

you can run this with test maps provided in m-explore-extra repo
https://github.com/hrnr/m-explore-extra

roslaunch map_merge from_map_server.launch map1:=PATH_TO_m-explore-extra/map_merge/gmapping_maps/2011-08-09-12-22-52.yaml map2:=PATH_TO_m-explore-extra/map_merge/gmapping_maps/2012-01-28-11-12-01.yaml rviz:=true
-->
<launch>
  <arg name="map" default="map.yaml"/>
  <arg name="frame_id" default="map"/>

  <node pkg="map_server" type="map_server" name="robot1_publisher" args="$(arg map)" output="screen">
    <param name="frame_id" value="$(arg frame_id)"/>
    <remap from="map" to="/map/previous"/>
    <remap from="map_metadata" to="/map_metadata/previous"/>
  </node>
</launch>
