<launch>
  <!-- https://github.com/ros-planning/navigation/issues/206 -->
<!--  <rosparam command="delete" ns="move_base" /> -->

<!--
  <include file="$(find arlobot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />

    <arg name="scan_topic" value="/scan" />
  </include>
-->

  <!-- Map server -->
  <arg name="map_file" default="$(find multi_map_server)/maps/room1.yaml"/>
  <node name="map_server" pkg="multi_map_server" type="map_server" args="$(arg map_file)" output="screen"/>


    <!--  ************** Visualisation **************  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_map_server)/rviz/map_load.rviz"/>

</launch>

