<launch>
  <arg name="raw_scan_topic" default="scan"/>
  <arg name="filtered_scan_topic" default="scan/filtered"/>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_scan_filter">
    <rosparam command="load" file="$(find sensor_filters)/config/laser_scan_filter.yaml"/>

    <remap from="scan" to="$(arg raw_scan_topic)"/>
    <remap from="scan_filtered" to="$(arg filtered_scan_topic)"/>
  </node>
</launch>