Source: ros-noetic-path-recall
Section: misc
Priority: optional
Maintainer: user <user@todo.todo>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-actionlib-msgs, ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-message-generation, ros-noetic-move-base-msgs, ros-noetic-nav-msgs, ros-noetic-ros-utils, ros-noetic-roscpp, ros-noetic-roslib, ros-noetic-rosunit, ros-noetic-std-msgs, ros-noetic-std-srvs, ros-noetic-tf
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-path-recall
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib-msgs, ros-noetic-geometry-msgs, ros-noetic-message-runtime, ros-noetic-move-base-msgs, ros-noetic-nav-msgs, ros-noetic-ros-utils, ros-noetic-roscpp, ros-noetic-roslib, ros-noetic-std-msgs, ros-noetic-std-srvs, ros-noetic-tf
Description: The path_recall package
