<?xml version="1.0" encoding="UTF-8" ?>
<launch>

	<arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
	
	<group if="$(eval mode == 'deployment')">

		<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen"> 
			<rosparam file="$(find octomap_server)/config/pointcloud_grid.yaml"/>
			<rosparam file="$(env HOME)/.config/movel/config/3dpipeline/octomap_server/config/pointcloud_grid.yaml"/>
			<remap from="projected_map" to="map" />
		</node>

	</group>

	<group unless="$(eval mode == 'deployment')">

		<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen"> 
			<rosparam file="$(find octomap_server)/config/pointcloud_grid.yaml"/>
			<remap from="projected_map" to="map" />
		</node>

	</group>


</launch>