<launch>
  <node pkg="tf"
        type="static_transform_publisher"
        name="link1_broadcaster"
        args="-0.06 0.06 0 0 0 0 camera_rgb_frame base_link 100" />
  <node pkg="tf" 
        type="static_transform_publisher" 
        name="link2_broadcaster" 
        args="1 0 0 0 0 3.14 world laser2 100" />
  <!--node pkg="rviz" 
        type="rviz" 
        name="rviz"/-->
</launch>
