<?xml version="1.0"?>
<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

    <group if="$(eval mode == 'deployment')">
      <node pkg="task_supervisor" type="task_supervisor_node" name="task_supervisor" output="screen" respawn="true">
        <rosparam file="$(find task_supervisor)/config/task_supervisor.yaml"/>
        <rosparam file="$(env HOME)/.config/movel/config/movel/config/move_base_params.yaml" command="load" ns="/move_base"/>
        <rosparam file="$(env HOME)/.config/movel/config/movel/config/base_local_planner_params.yaml" command="load" ns="/move_base"/>
        <rosparam file="$(env HOME)/.config/movel/config/task_supervisor/config/task_supervisor.yaml"/>

        <rosparam file="$(find movel)/config/costmap_common_params.yaml" ns="multi_point_map"/>
        <rosparam file="$(env HOME)/.config/movel/config/movel/config/costmap_common_params.yaml" ns="multi_point_map"/>
        <rosparam file="$(find multi_point_navigation)/config/multipoint_config.yaml" command="load" />
        <rosparam file="$(env HOME)/.config/movel/config/multi_point_navigation/config/multipoint_config.yaml" command="load" />
        <!-- For multi-point local planner navigation -->
        <rosparam file="$(find movel)/config/base_local_planner_params.yaml" command="load"/>
        <rosparam file="$(env HOME)/.config/movel/config/movel/config/base_local_planner_params.yaml" command="load"/>
      </node>
    </group>
    <group unless="$(eval mode == 'deployment')">
      <node pkg="task_supervisor" type="task_supervisor_node" name="task_supervisor" respawn="true" output="screen">
        <rosparam file="$(find task_supervisor)/config/task_supervisor.yaml"/>

        <!--rosparam file="$(find movel)/config/costmap_common_params.yaml" ns="multi_point_map"/-->
        <rosparam file="$(find multi_point_navigation)/config/multipoint_config.yaml" command="load" />
      </node>
    </group>

  <node pkg="task_supervisor" type="launch_manager_node.py" name="launch_manager" output="screen" respawn="true">
    <rosparam command="load" file="$(find task_supervisor)/config/launch_manager.yaml"/>
  </node>

</launch>
