<?xml version="1.0" encoding="utf-8" ?>

<launch>
    <arg name="mode"        default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
    <arg name="scan_topic"  default="scan/filtered"/>

    <group if="$(eval mode == 'deployment')">
        <node name="scan_with_tf_node" pkg="movel_fms_utils" type="scan_with_tf_node" output="screen" respawn="true">
            <remap from="scan" to="$(arg scan_topic)"/>
        </node>
    </group>
    <group unless="$(eval mode == 'deployment')">
        <node name="scan_with_tf_node" pkg="movel_fms_utils" type="scan_with_tf_node" output="screen" respawn="true">
            <remap from="scan" to="$(arg scan_topic)"/>
        </node>
    </group>
</launch>
