<?xml version="1.0" encoding="utf-8" ?>

<launch>
  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
  <group if="$(eval mode == 'deployment')">
    <node name="logging_system" pkg="logging_system" type="logging_system.py" output="screen">
      <rosparam file="$(find logging_system)/config/logging_system.yaml" command="load"/>
      <rosparam file="$(env HOME)/.config/movel/config/logging_system/config/logging_system.yaml" command="load"/>
    </node>
  </group>
  <group unless="$(eval mode == 'deployment')">
    <node name="logging_system" pkg="logging_system" type="logging_system.py" output="screen">
      <rosparam file="$(find logging_system)/config/logging_system.yaml" command="load"/>
    </node>
  </group>


</launch>
