<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
  <group if="$(eval mode == 'deployment')">
    <node pkg="orbomator" type="map_transform_monitor" name="map_tf_mon" output="screen">
        <rosparam file="$(find orbomator)/config/map_transform_monitor.yaml" command="load" />
        <rosparam file="$(env HOME)/.config/movel/config/orbomator/config/map_transform_monitor.yaml" command="load"/>
    </node>
  </group>

  <group unless="$(eval mode == 'deployment')">
    <node pkg="orbomator" type="map_transform_monitor" name="map_tf_mon" output="screen">
        <rosparam file="$(find orbomator)/config/map_transform_monitor.yaml" command="load" />
    </node>
  </group>

</launch>