<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
  <arg name="map_name" default="/home/movel/.config/movel/maps/60e6871d8f8037719088e6c4" />
  <arg name="camera_mode" default="$(env CAMERA_MODE)" doc="mode: [RGBD, STEREO]"/>
  <group if="$(eval camera_mode == 'RGBD')">
    <group if="$(eval mode == 'deployment')">
      <arg name="rgbd_depth_topic" default="/d435/depth/image_rect_raw" />
      <arg name="rgb_color_topic" default="/d435/color/image_raw" />
      <arg name="rgbd_camera_info" default="/d435/color/camera_info" />
      <node name="orb_slam2" pkg="orb_slam2_ros" type="orb_slam2_ros_rgbd" output="screen">
          <rosparam file="$(find orbomator)/config/rgbd_map.yaml"/>
          <rosparam file="$(env HOME)/.config/movel/config/orbomator/config/rgbd_map.yaml"/>
          <remap from="/camera/rgb/image_raw" to="$(arg rgb_color_topic)" />
          <remap from="/camera/depth_registered/image_raw" to="$(arg rgbd_depth_topic)" />
          <remap from="/camera/rgb/camera_info" to="$(arg rgbd_camera_info)" />
          <param name="map_file" type="string" value="$(arg map_name)" />
          <param name="load_map" type="bool" value="true" />
          <param name="voc_file" type="string" value="$(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt" />
      </node>
      <include file="$(find orbomator)/launch/map_transform_monitor.launch" />
    </group>

    <group unless="$(eval mode == 'deployment')">
      <arg name="rgbd_depth_topic" default="/d435/depth/image_rect_raw" />
      <arg name="rgb_color_topic" default="/d435/color/image_raw" />
      <arg name="rgbd_camera_info" default="/d435/color/camera_info" />
      <node name="orb_slam2" pkg="orb_slam2_ros" type="orb_slam2_ros_rgbd" output="screen">
          <rosparam file="$(find orbomator)/config/rgbd_map.yaml"/>
          <remap from="/camera/rgb/image_raw" to="$(arg rgb_color_topic)" />
          <remap from="/camera/depth_registered/image_raw" to="$(arg rgbd_depth_topic)" />
          <remap from="/camera/rgb/camera_info" to="$(arg rgbd_camera_info)" />
          <param name="map_file" type="string" value="$(arg map_name)" />
          <param name="load_map" type="bool" value="true" />
          <param name="voc_file" type="string" value="$(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt" />
      </node>
      <include file="$(find orbomator)/launch/map_transform_monitor.launch" />
    </group>
  </group>

  <group if="$(eval camera_mode == 'STEREO')">
    <group if="$(eval mode == 'deployment')">
      <arg name="rgb_color_topic" default="/zed/zed_node/left/image_rect_color" />  <!--rgb_color_topic used for color or zed_left_topic-->
      <arg name="rgbd_depth_topic" default="/zed/zed_node/right/image_rect_color" /> <!--rgb_color_topic used for color or zed_right_topic-->
      <arg name="rgbd_camera_info" default="/zed/zed_node/left/camera_info" /> <!--rgb_color_topic used for color or info-->
      <node name="orb_slam2" pkg="orb_slam2_ros" type="orb_slam2_ros_rgbd" output="screen">
          <rosparam file="$(find orbomator)/config/zed_map.yaml"/>
          <rosparam file="$(env HOME)/.config/movel/config/orbomator/config/zed_map.yaml"/>
          <remap from="image_left/image_color_rect" to="$(arg rgb_color_topic)" />
          <remap from="image_right/image_color_rect" to="$(arg rgbd_depth_topic)" />
          <remap from="image_left/camera_info" to="$(arg rgbd_camera_info)" />
          <param name="map_file" type="string" value="$(arg map_name)" />
          <param name="load_map" type="bool" value="true" />
          <param name="voc_file" type="string" value="$(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt" />
      </node>
      <include file="$(find orbomator)/launch/map_transform_monitor.launch" />
    </group>

    <group unless="$(eval mode == 'deployment')">
      <arg name="rgb_color_topic" default="/zed/zed_node/left/image_rect_color" />  <!--rgb_color_topic used for color or zed_left_topic-->
      <arg name="rgbd_depth_topic" default="/zed/zed_node/right/image_rect_color" /> <!--rgb_color_topic used for color or zed_right_topic-->
      <arg name="rgbd_camera_info" default="/zed/zed_node/left/camera_info" /> <!--rgb_color_topic used for color or info-->
      <node name="orb_slam2" pkg="orb_slam2_ros" type="orb_slam2_ros_rgbd" output="screen">
          <rosparam file="$(find orbomator)/config/zed_map.yaml"/>
          <remap from="image_left/image_color_rect" to="$(arg rgb_color_topic)" />
          <remap from="image_right/image_color_rect" to="$(arg rgbd_depth_topic)" />
          <remap from="image_left/camera_info" to="$(arg rgbd_camera_info)" />
          <param name="map_file" type="string" value="$(arg map_name)" />
          <param name="load_map" type="bool" value="true" />
          <param name="voc_file" type="string" value="$(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt" />
      </node>
      <include file="$(find orbomator)/launch/map_transform_monitor.launch" />
    </group>
  </group>


</launch>