<?xml version="1.0" encoding="UTF-8" ?>

<launch>
  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_link_to_camera" args="0 0 0 0 0 0 1 camera_link camera 100" /> -->
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="-0.14 0 1.0 0 0 0 1 base_link laser 100" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_footprint" args="0 0 0.05 0 0 0 1 base_footprint base_link 100" /> -->
  <node pkg="tf" type="static_transform_publisher" name="camera_to_base" args="-0.14 0 0.8 0 0 0 1 base_link d435_frame 100" />
  <!-- camera related -->
  <node pkg="tf" type="static_transform_publisher" name="camera_to_depth_frame" args="0 0 0 0 0 0 1 d435_frame d435_depth_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="depth_to_depth_optical_frame" args="0 0 0 -0.5 0.5 -0.5 0.5 d435_depth_frame d435_depth_optical_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="camera_to_color_frame" args="-0.0004 0.0146 0.0002 0.0007 0.0004 0.0025 0.9999 d435_frame d435_color_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="aligned_depth_to_color_optical_frame" args="0 0 0 -0.5 0.5 -0.5 0.5 d435_aligned_depth_to_color_frame d435_color_optical_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="camera_to_aligned_depth" args="-0.0004 0.0146 0.0002 0.0007 0.0004 0.0025 0.9999 d435_frame d435_aligned_depth_to_color_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="camera_to_infra1" args="0 0 0 0 0 0 1 d435_frame d435_infra1_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="aligned_depth_to_infra1_optical_frame" args="0 0 0 -0.5 0.5 -0.5 0.5 d435_aligned_depth_to_infra1_frame d435_infra1_optical_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="camera_to_aligned_depth_ir1" args="0 0 0 0 0 0 1 d435_frame d435_aligned_depth_to_infra1_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="camera_to_infra2" args="0 -0.049974 0 0 0 0 1 d435_frame d435_infra2_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="camera_to_infra2_optical_frame" args="0 0 0 -0.5 0.5 -0.5 0.5 d435_infra2_frame d435_infra2_optical_frame 100" />

  <node pkg="global_visual_landmarks" type="tree_builder" name="tree_builder" /> <!--publishes base_link->odom tf from odom messages-->
  <node pkg="global_visual_landmarks" type="scan_fuzzer" name="scan_fuzzer" /> <!--shortens angle_max in scan messages so karto does not protest-->
</launch>
