<!-- -->
<launch>



<!-- -<> --> 
  <!-- <node name="LocalPlanner"  pkg="local_planner" type="local_planner" output="log"/> -->
  <!-- <node name="LocalMap"  pkg="pcl_wk" type="pcl_wk_node" output="log"/> -->

<!-- -<>-->

  <arg name="method_type" default="0" /> <!-- pcl_generic=0, pcl_anh=1, pcl_anh_gpu=2, pcl_openmp=3 -->
  <arg name="use_gnss" default="0" />
  <arg name="use_odom" default="true" />
  <arg name="use_imu" default="false" />
  <arg name="imu_upside_down" default="false" />
  <arg name="imu_topic" default="/imu_raw" />
  <arg name="queue_size" default="1" />
  <arg name="offset" default="linear" />
  <arg name="get_height" default="false" />
  <arg name="use_local_transform" default="false" />
  <arg name="sync" default="false" />
  <arg name="output_log_data" default="false" />
  <arg name="gnss_reinit_fitness" default="500.0" />
  <arg name="pcd_map" default='/home/navaneeth/Documents/practice_ws/3D_ws/2021-01-06-20-07-40.pcd' />

  <node name="MapLoader"  pkg="map_file" type="points_map_loader" args="noupdate $(arg pcd_map)" output="log"/>  
  <include file="$(find points_downsampler)/launch/points_downsample.launch"/> 
 
<!-- <node pkg="tf" type="static_transform_publisher" name="base2localmap" args="-20 -20 0 0 0 0 /base_link /local_map 10" />     -->

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_localizer)/rviz/rviz_tracking.rviz"/>





</launch>
