<!-- -->
<launch>



<!-- -<> --> 
  <!-- <node name="LocalPlanner"  pkg="local_planner" type="local_planner" output="log"/> -->
  <!-- <node name="LocalMap"  pkg="pcl_wk" type="pcl_wk_node" output="log"/> -->

<!-- -<>-->

  <arg name="method_type" default="0" /> <!-- pcl_generic=0, pcl_anh=1, pcl_anh_gpu=2, pcl_openmp=3 -->
  <arg name="use_gnss" default="0" />
  <arg name="use_odom" default="true" />
  <arg name="use_imu" default="false" />
  <arg name="imu_upside_down" default="false" />
  <arg name="imu_topic" default="/imu_raw" />
  <arg name="queue_size" default="1" />
  <arg name="offset" default="linear" />
  <arg name="get_height" default="false" />
  <arg name="use_local_transform" default="false" />
  <arg name="sync" default="false" />
  <arg name="output_log_data" default="false" />
  <arg name="gnss_reinit_fitness" default="500.0" />
  <arg name="pcd_map" default='/home/navaneeth/Documents/practice_ws/3D_ws/2021-01-06-20-07-40.pcd' />

  <param name="tf_x" value= "0" />
  <param name="tf_y" value= "0" />
  <param name="tf_z" value= "0" />
  <param name="tf_roll" value= "0" />
  <param name="tf_pitch" value= "0" />
  <param name="tf_yaw" value= "0" />
  <param name="localizer" value= "velodyne" />
  

  <!-- <node pkg="tf" type="static_transform_publisher" name="Map2WorldPublisher" args="0 0 0 0 0 0 /map /world 10" />   -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="Map2WorldPublisher" args="0 0 0 0 0 0 /map /odom 10" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base2localizer" args="0 0 0 0 0 0 /base_link /rslidar 10" >   -->
  <node pkg="lidar_localizer" type="ndt_matching" name="ndt_matching" output="screen">
    <param name="method_type" value="$(arg method_type)" />
    <param name="use_gnss" value="$(arg use_gnss)" />
    <param name="use_odom" value="$(arg use_odom)" />
    <param name="use_imu" value="$(arg use_imu)" />
    <param name="imu_upside_down" value="$(arg imu_upside_down)" />
    <param name="imu_topic" value="$(arg imu_topic)" />
    <param name="queue_size" value="$(arg queue_size)" />
    <param name="offset" value="$(arg offset)" />
    <param name="get_height" value="$(arg get_height)" />
    <param name="use_local_transform" value="$(arg use_local_transform)" />
    <param name="output_log_data" value="$(arg output_log_data)" />
    <param name="gnss_reinit_fitness" value="$(arg gnss_reinit_fitness)" />
    <remap from="/points_raw" to="/filtered_points" if="$(arg sync)" />
  </node>
  <!-- <node name="NdtMatching"  pkg="lidar_localizer" type="ndt_matching" output="screen"/> -->
  <node name="ConfigNdtPublisher"  pkg="rostopic" type="rostopic" args="pub /config/ndt autoware_config_msgs/ConfigNDT '{header:{seq: 0,
                                                                                                                    stamp: {secs: 0, nsecs: 0},
                                                                                                                    frame_id: ''},
                                                                                                                    init_pos_gnss: 0,
                                                                                                                    x: 0.0,
                                                                                                                    y: 0.0,
                                                                                                                    z: 0.0,
                                                                                                                    roll: 0.0,
                                                                                                                    pitch: 0.0,
                                                                                                                    yaw: 0.0,
                                                                                                                    use_predict_pose: 0,
                                                                                                                    error_threshold: 1.0,
                                                                                                                    resolution: 1.0,
                                                                                                                    step_size: 0.1,
                                                                                                                    trans_epsilon: 0.01,
                                                                                                                    max_iterations: 30}'" output="screen"/>

  <node name="MapLoader"  pkg="map_file" type="points_map_loader" args="noupdate $(arg pcd_map)" output="log"/>  
  <include file="$(find points_downsampler)/launch/points_downsample.launch"/> 
  <node name="ConfigVoxelGridPublisher"  pkg="rostopic" type="rostopic" args="pub /config/voxel_grid_filter autoware_config_msgs/ConfigVoxelGridFilter '{voxel_leaf_size: 2.0,
                                                                                                                                                          measurement_range: 200.0}'" 
                                                                                                                                                          output="screen"/>
  
<!-- <node pkg="tf" type="static_transform_publisher" name="base2localmap" args="-20 -20 0 0 0 0 /base_link /local_map 10" />     -->

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_localizer)/rviz/rviz_tracking.rviz"/>





</launch>
