<?xml version="1.0" encoding="UTF-8" ?>
<launch>
  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>
  <!-- IMU ARGS -->
  <arg name="use_imu"       default="false"/>
  <arg name="raw_imu_topic" default="/camera/imu"/>
  <arg name="imu_topic"     default="/rtabmap/imu"/>

  <!-- LOCALIZATION ARGS -->
  <arg name="localization"  default="false"/>
  <arg     if="$(arg localization)" name="args" default=""/>
  <arg unless="$(arg localization)" name="args" default="--delete_db_on_start"/>

  <!-- POINTCLOUD TOPIC -->
  <arg name="lidar_cloud" default="/lidar_point_cloud/filtered"/>

  <!-- DATABASE PATH -->
  <arg     if="$(eval mode == 'deployment')" name="database_path" default="~/.config/movel/maps/temp_rtabmap_save_.db"/>
  <arg unless="$(eval mode == 'deployment')" name="database_path" default="~/temp_rtabmap_save_.db"/>


  <!-- IMU FILTER -->
  <node if="$(arg use_imu)" pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
    <remap from ="/imu/data_raw" to="$(arg raw_imu_topic)"/>
    <remap from ="/imu/data" to="$(arg imu_topic)"/>
    <param name="use_mag" value="false"/>
    <param name="publish_tf" value="false"/>
    <param name="world_frame" value="enu"/>
  </node>

  <!-- MAIN LAUNCH FILE -->
  <!-- <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/> -->
  <group if="$(eval mode == 'deployment')">
    <!-- <arg name="database_path" default="~/.config/movel/maps/temp_rtabmap_save_.db"/> -->

    <!-- RTABMAP PACKAGE -->
    <group ns="rtabmap">
      <!-- SLAM -->
      <node pkg="rtabmap_ros_multi" type="rtabmap" name="rtabmap" output="screen" args="$(arg args)">	  
        <rosparam file="$(find pcl_slam_handler)/config/ramp/slam_rtabmap_curb.yaml"/>
        <rosparam file="$(env HOME)/.config/movel/config/3dpipeline/pcl_slam_handler/config/ramp/slam_rtabmap_curb.yaml"/>

        <param name="database_path"       type="string" value="$(arg database_path)"/>
        <remap from="scan_cloud" to="assembled_cloud"/>
        <remap from="imu" to="$(arg imu_topic)"/>

        <!-- LOCALIZATION MODE -->
        <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
        <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
        <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/> 

        <param name="Icp/Strategy" type="string" value="0"/>
        
        <!-- REMAPPING -->
        <remap from="/rtabmap/grid_map" to="/map"/>
        <remap from="/rtabmap/cloud_map" to="/map_3d"/>
      </node>

      <!-- POINTCLOUD ASSEMBLER -->
      <node pkg="nodelet" type="nodelet" name="point_cloud_assembler" args="standalone rtabmap_ros_multi/point_cloud_assembler" output="screen">
        <remap from="cloud"           to="$(arg lidar_cloud)"/>
        <remap from="odom"            to="odom"/>
        <param name="max_clouds"      type="int"    value="20" />
        <param name="fixed_frame_id"  type="string" value="" />
      </node>
    </group>

    <!-- FGICP PACKAGE -->
    <!-- PREFILTERING -->
    <node pkg="nodelet" type="nodelet" name="prefiltering_nodelet" args="standalone hdl_graph_slam/PrefilteringNodelet">
      <rosparam file="$(find pcl_slam_handler)/config/ramp/prefiltering_fgicp.yaml"/>
      <rosparam file="$(env HOME)/.config/movel/config/3dpipeline/pcl_slam_handler/config/ramp/prefiltering_fgicp.yaml"/>
    </node>

    <!-- ODOM -->
    <node pkg="nodelet" type="nodelet" name="scan_matching_odometry_nodelet" args="standalone hdl_graph_slam/ScanMatchingOdometryNodelet">
      <rosparam file="$(find pcl_slam_handler)/config/ramp/odom_fgicp.yaml"/>
      <rosparam file="$(env HOME)/.config/movel/config/3dpipeline/pcl_slam_handler/config/ramp/odom_fgicp.yaml"/>
      <param name="publish_tf" value="true"/>
      <remap from="/odom" to="/rtabmap/odom"/>
    </node>

    <!-- POINTCLOUD SAVER -->
    <node pkg="pcl_slam_handler" type="pointcloud_saver" name="pointcloud_saver">
      <rosparam file="$(find pcl_slam_handler)/config/pointcloud_saver.yaml"/>
      <rosparam file="$(env HOME)/.config/movel/config/3dpipeline/pcl_slam_handler/config/pointcloud_saver.yaml"/>
    </node>

  </group>

  <group unless="$(eval mode == 'deployment')">
    <!-- <arg name="database_path" default="~/temp_rtabmap_save_.db"/> -->

    <!-- RTABMAP PACKAGE -->
    <group ns="rtabmap">
      <!-- SLAM -->
      <node pkg="rtabmap_ros_multi" type="rtabmap" name="rtabmap" output="screen" args="$(arg args)">	  
        <rosparam file="$(find pcl_slam_handler)/config/ramp/slam_rtabmap_curb.yaml"/>
  
        <param name="database_path"       type="string" value="$(arg database_path)"/>
        <remap from="scan_cloud" to="assembled_cloud"/>
        <remap from="imu" to="$(arg imu_topic)"/>
  
        <!-- LOCALIZATION MODE -->
        <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
        <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
        <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/> 
  
        <param name="Icp/Strategy" type="string" value="0"/>

        <!-- REMAPPING -->
        <remap from="/rtabmap/grid_map" to="/map"/>
        <remap from="/rtabmap/cloud_map" to="/map_3d"/>
      </node>
  
      <!-- POINTCLOUD ASSEMBLER -->
      <node pkg="nodelet" type="nodelet" name="point_cloud_assembler" args="standalone rtabmap_ros_multi/point_cloud_assembler" output="screen">
        <remap from="cloud"           to="$(arg lidar_cloud)"/>
        <remap from="odom"            to="odom"/>
        <param name="max_clouds"      type="int"    value="20" />
        <param name="fixed_frame_id"  type="string" value="" />
      </node>
    </group>

    <!-- FGICP PACKAGE -->
    <!-- PREFILTERING -->
    <node pkg="nodelet" type="nodelet" name="prefiltering_nodelet" args="standalone hdl_graph_slam/PrefilteringNodelet">
      <rosparam file="$(find pcl_slam_handler)/config/ramp/prefiltering_fgicp.yaml"/>
    </node>

    <!-- ODOM -->
    <node pkg="nodelet" type="nodelet" name="scan_matching_odometry_nodelet" args="standalone hdl_graph_slam/ScanMatchingOdometryNodelet">
      <rosparam file="$(find pcl_slam_handler)/config/ramp/odom_fgicp.yaml"/>
      <param name="publish_tf" value="true"/>
      <remap from="/odom" to="/rtabmap/odom"/>
    </node>

    <!-- POINTCLOUD SAVER -->
    <node pkg="pcl_slam_handler" type="pointcloud_saver" name="pointcloud_saver">
      <rosparam file="$(find pcl_slam_handler)/config/pointcloud_saver.yaml"/>
    </node>

  </group>

</launch>