<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <node pkg="human_detection" name="human_detection" type="human_detection_node" output="screen">
    <remap from="velodyne_points" to="lidar_point_cloud/filtered"/>
    <rosparam file="$(find human_detection)/config/human_detection.yaml"/>
    <rosparam if="$(eval mode == 'deployment')" file="$(env HOME)/.config/movel/config/human_detection/config/human_detection.yaml"/>
  </node>
</launch>
