<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="human_detection" name="human_detection" type="human_detection_node" output="screen">
    <remap from="velodyne_points" to="lidar_point_cloud/filtered"/>
    <rosparam file="$(find human_detection)/config/human_detection.yaml"/>

    <!--rosparam file="$(env MOVEL_CONFIG_ROOT_DEFAULT)/robot/default/human_detection.yaml"/>
    <rosparam file="$(env MOVEL_CONFIG_ROOT_DEFAULT)/robot/$(env MOVEL_ROBOT_BASE)/default/human_detection.yaml"/>
    <rosparam file="$(env MOVEL_CONFIG_ROOT_DEFAULT)/robot/$(env MOVEL_ROBOT_BASE)/$(optenv MOVEL_ROBOT_PROFILE default)/human_detection.yaml"/>
    <rosparam file="$(env MOVEL_CONFIG_ROOT_USER)/robot/human_detection.yaml" unless="$(optenv MOVEL_DEV_MODE true)"/-->

  </node>
<!--  
  <node pkg="dafan_drivers" type="human_detection_indicator" 
        name="human_detection_indicator">
    <rosparam file="$(find dafan_drivers)/config/human_detection_indicator.yaml"/>
  </node>
-->
</launch>
