<launch>
  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <group if="$(eval mode == 'deployment')">
    <node pkg="map_editor" type="map_editor_node" name="map_editor" output="screen">
      <rosparam file="$(find map_editor)/config/map_editor_param.yaml" command="load" />
      <rosparam file="$(env HOME)/.config/movel/config/map_editor/config/map_editor_param.yaml"/>
    </node>
  </group>
  
  <group unless="$(eval mode == 'deployment')">
    <node pkg="map_editor" type="map_editor_node" name="map_editor" output="screen">
      <rosparam file="$(find map_editor)/config/map_editor_param.yaml" command="load" />
    </node>
  </group>

</launch>