<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <group if="$(eval mode == 'deployment')">
    <node name="navigation_based_docking" pkg="navigation_based_docking" type="navigation_based_docking_node" output="screen">
      <rosparam file="$(find navigation_based_docking)/config/params.yaml"  command="load" />
      <rosparam file="$(env HOME)/.config/movel/config/navigation_based_docking/config/params.yaml"/>
      <param name="waypoints_folder" value="/home/movel/.config/navigation_based_docking/path/waypoints_" />
    </node>
  </group>
  
  <group unless="$(eval mode == 'deployment')">
    <node name="navigation_based_docking" pkg="navigation_based_docking" type="navigation_based_docking_node" output="screen">
      <rosparam file="$(find navigation_based_docking)/config/params.yaml" command="load" />
    </node>
  </group>


</launch>
