<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <group if="$(eval mode == 'deployment')">
    <node name="record_waypoints" pkg="navigation_based_docking" type="record_waypoints" output="screen">
      <rosparam file="$(find navigation_based_docking)/config/record_waypoints.yaml" command="load" />
      <rosparam file="$(env HOME)/.config/movel/config/autodock-pallet/navigation_based_docking/config/record_waypoints.yaml"/>
    </node>
  </group>
  
  <group unless="$(eval mode == 'deployment')">
    <node name="record_waypoints" pkg="navigation_based_docking" type="record_waypoints" output="screen">
      <rosparam file="$(find navigation_based_docking)/config/record_waypoints.yaml" command="load" />
    </node>
  </group>

</launch>
