Source: ros-noetic-velocity-limiter
Section: misc
Priority: optional
Maintainer: Movel AI <contact@movel.ai>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libeigen3-dev, libpcl-dev, ros-noetic-catkin, ros-noetic-diagnostic-msgs, ros-noetic-diagnostic-updater, ros-noetic-geometry-msgs, ros-noetic-message-generation, ros-noetic-nav-msgs, ros-noetic-pcl-ros, ros-noetic-ros-utils, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-yaml-utils
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-velocity-limiter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, libpcl-dev, ros-noetic-diagnostic-msgs, ros-noetic-diagnostic-updater, ros-noetic-geometry-msgs, ros-noetic-message-runtime, ros-noetic-nav-msgs, ros-noetic-pcl-ros, ros-noetic-ros-utils, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-yaml-utils
Description: The velocity_limiter package
