<?xml version="1.0"?>
<launch>
  <arg name="scan_topic" default="/real_time_csm/input"/>
  <arg name="map_topic" default="/template"/>

  <node pkg="correlative_scan_matcher" type="real_time_csm_node" name="real_time_csm" output="screen">
    <rosparam file="$(env MOVEL_CONFIG_ROOT_DEFAULT)/robot/default/real_time_csm.yaml"/>
    <rosparam file="$(env MOVEL_CONFIG_ROOT_DEFAULT)/robot/$(env MOVEL_ROBOT_BASE)/default/real_time_csm.yaml"/>
    <rosparam file="$(env MOVEL_CONFIG_ROOT_DEFAULT)/robot/$(env MOVEL_ROBOT_BASE)/$(optenv MOVEL_ROBOT_PROFILE default)/real_time_csm.yaml"/>
    <rosparam file="$(env MOVEL_CONFIG_ROOT_USER)/robot/real_time_csm.yaml" unless="$(optenv MOVEL_DEV_MODE true)"/>
    <remap from="~scan" to="$(arg scan_topic)"/>
    <remap from="~map" to="$(arg map_topic)"/>
  </node>
</launch>
