<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="mode" default="$(env MOVEL_MODE)" doc="mode: [deployment, development]"/>

  <group if="$(eval mode == 'deployment')">
    <node pkg="explore_lite" type="explore" respawn="false" name="explore">
      <rosparam file="$(find automapping_handler)/config/explore.yaml" command="load"/>
      <rosparam file="$(env HOME)/.config/movel/config/automapping_handler/config/explore.yaml" command="load"/>
    </node>
  </group>

  <group unless="$(eval mode == 'deployment')">
    <node pkg="explore_lite" type="explore" respawn="false" name="explore">
      <rosparam file="$(find automapping_handler)/config/explore.yaml" command="load"/>
    </node>
  </group>

</launch>
